body{
    font-family: Roboto Slab, sans-serif;
    src: url("/RobotoSlab-VariableFont_wght.ttf");
    background-color: #e4e3e3;
}
.swiper-container {
    width: 820px;
    height: 600px;
}
.cardsInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}

.info{
    margin-top: 30px;
}
.info th{
    font-family: "Roboto Slab",sans-serif;
    padding: 15px 120px;
    font-size: 28px;
    border-top: 1px solid gray;
    background-color:  #f2f3f4;
}

.desc{
    margin: 0 auto;
}

.desc h1 {
   margin-left: 12%;
}
.desc p{
    font-family: "Roboto Slab",sans-serif;
    text-align: center;
    font-size: 30px !important;
    width: 1000px;
    padding: 15px;
    color: black;
}
