
body {
    background-color: #e4e3e3;
    font-family: Roboto Slab, sans-serif;
    src: url("/RobotoSlab-VariableFont_wght.ttf");
    margin:0;
}
a{
    text-decoration: none;
    color:black;
}
.header{
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 0 20px gray;
    background-color: white;
}
.categories-link{
    font-family: Roboto Slab, sans-serif;
    text-align: center;
    font-size: 36px;
    margin-top: 35px;
    margin-right: 120px;
    flex:4;
}

#main{
    padding-right: 15px;
}

.lang{
    flex: 2;
}
.lang a{
    margin-right: 10px;
}
.lang:first-child{
    margin-left: 5%;
}
.auth{
    flex: 2;
    font-size: 36px;
   margin-top: 35px;
    text-decoration: none !important;

}
.nav{
    text-align:center;
    font-size:24px;
    text-decoration: none;
}
.create-new{
    text-decoration: none !important;
}
.cards {
    font-family: Roboto Slab, sans-serif;
    width: 800px;
    height: 400px;
    background-color: #f3f4f7;
    margin: 30px auto;
    border-radius: 80px;
    border: 1px solid gray;
    box-shadow: 0 0 10px gray;
    padding: 20px;
}
.search{
    margin-top: 15px;
    margin-left: 25%;
}
#keyword{
    width: 800px;
    height:40px;
    border-radius: 15px;
    font-size: 30px;
    color: gray;
    border-radius: 15px;
    outline:none;
    border: black;
}
#btn-search{
    width: 120px;
    height: 40px;
    font-size: 30px;
    border-radius: 15px;
    outline: none;
    text-align: center;
    box-shadow: 5px 5px 8px black;
    cursor: pointer;
    border: none;
}
#btnClear{
    width: 150px;
    height: 40px;
    font-size: 30px;
    border-radius: 15px;
    outline: none;
    text-align: center;
    box-shadow: 5px 5px 8px black;
    cursor:pointer;
    border: none;
}

.info {
    display: flex;
}
#desc{
    height:80px;
}
ul {
    list-style: none;
}
p {
    font-size: 24px;
}

.btn{
  display: block;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: #146eb4;
  outline-style: none;
  color: #f3f4f7;
  font-size: 24px;
  border: 0;
  box-shadow: 0 0 10px gray;
  cursor: pointer;
}
.btn:hover{
    box-shadow: 0 0 10px black;
}

span {
    color: #00a98f;
    font-style: italic;
}
.footer{
    width: 100%;
    height: 200px;
    background-color: black;
    text-align: center;
    color: white;
    margin: 0;
}
.footer h1{
    padding-top: 90px;
    color: white !important;
}


.admin-table{
    border: 3px solid black;
    margin: 0 auto;
    font-size:24px;
    background: #f5ffff;
    border-collapse: collapse;
}
.admin-table th{
    border-top: 1px solid #777777;
    border-bottom: 1px solid #777777;
    box-shadow: inset 0 1px 0 #999999, inset 0 -1px 0 #999999;
    background: linear-gradient(#9595b6, #5a567f);
    color: white;
    padding:15px;
    position: relative;
}
.admin-table td{
    padding:15px;
}

@media screen and (width: 900px){
    .search{
        width: auto;
        margin-left:10%;
    }
    #btn-search{
        margin-top:10px;
    }
    #btnClear{
        margin-top:10px;

    }

}