.form-style{
    margin-left: 40%;
}
.form-style input{
    width: 400px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
    margin-top: 8px;
}
.form-style select{
    width: 400px;
    height: 40px;
    border-radius: 15px;
    font-size: 18px;
}
.form-style p{
    font-size: 24px;
}
.form-style button{
    width: 150px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    text-align: center;
    font-size: 18px;
}
#fileImage{
    border-radius: 0px;
}
