<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/StyleCustom.css"/>
</head>
<body>
<div th:replace="fragment.html :: header"></div>
<div class="create-new">
    <p  sec:authorize="hasAnyAuthority('ROLE_ADMIN')">Вам доступны права администратора:</p>
    <a  th:href="@{/newCarCategory}"  sec:authorize="hasAnyAuthority('ROLE_ADMIN')">Создать новый бренд автомобиля </a>
    <a  th:href="@{/newCar}"  sec:authorize="hasAnyAuthority('ROLE_ADMIN')">Создать новый автомобиль</a>
    <a  th:href="@{/newModifyAuto}"  sec:authorize="hasAnyAuthority('ROLE_ADMIN')">Создать новую модификацию автомобиля</a>
</div>
<div class="container">
<div class="main-card">
    <div class="category-card__item" th:each="category : ${carCategoryList}" enctype="multipart/form-data">
        <a th:href="@{'/carCategory/' + ${category.id}}">
            <div class="category-card__img">
                <img th:src="@{${category.getLogoImagePath()}}">
            </div>
            <div class="main-card__info">
                <h1 th:text="${category.name}"></h1>
                <h4  th:text="${category.country}"></h4>
            </div>
        </a>
    </div>
</div>
</div>
<div th:replace="fragment.html :: footer"></div>
</body>
</html>