<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/fontawesome.min.css/">
    <link rel="stylesheet" href="/StyleCustom.css/">
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>
<body>

<div th:replace="fragment.html :: header"></div>


    <div class="container">
        <div class="page" th:each="car: ${car}" enctype="multipart/form-data">
            <div class="page__title">
                <h1 th:text="${car.brand}"><span th:text="${car.model}"></span></h1>
                <hr>
            </div>
            <div class="page__img-section">
                <div class="swiper-container">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide"><img  th:src="@{${car.getLogoImagePath()}}" alt="Car-Image" /></div>
                        <div class="swiper-slide"><img  th:src="@{${car.getLogoImagePath2()}}" alt="Car-Image" /></div>
                        <div class="swiper-slide"><img  th:src="@{${car.getLogoImagePath3()}}" alt="Car-Image" /></div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>

                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                    <!-- If we need scrollbar -->
                </div>
            </div>
            <div class="page__tab">
                <button class="page__tab-tablinks" onclick="selectContent(event,'overview')" id="defaultOpen">Основная информация</button>
                <button class="page__tab-tablinks" onclick="selectContent(event,'modifications')">Модификации</button>
                <button class="page__tab-tablinks" onclick="selectContent(event,'generations')">Предыдущие поколения</button>
                <button class="page__tab-tablinks" onclick="selectContent(event,'costs')">Расходы на содержание</button>
            </div>
            <div id="overview" class="tabcontent">
                <div class="page__description-title">
                    <div><h2 th:text="${car.brand}"></h2></div>
                    <div><h2 th:text="${car.model}"></h2></div>
                    <div><h2> - обзор автомобиля</h2></div>
                </div>
                <hr>
                <p th:text="${car.description}"></p>
            </div>
            <div id="modifications" class="tabcontent">
                <div class="page__modify"  th:each="cars : ${car.modificationAuto}">
                    <div class="page__table-title" >
                        <h2 th:text="${cars.modification}">Audi A6 40 TFSI S tronic</h2>
                        <hr>
                    </div>
                    <table class="page__table">
                        <tr>
                            <th>Цена</th>
                            <th th:text="${cars.price}"></th>
                        </tr>
                        <tr>
                            <th>Модельный год</th>
                            <th th:text="${cars.year}">2016</th>
                        </tr>
                        <tr>
                            <th>Тип кузова</th>
                            <th th:text="${cars.bodyType}">Универсал</th>
                        </tr>
                    </table>
                    <button class="page__table-button">
                        <a th:href="@{'/showModifyAuto/' + ${cars.id}}">Показать все характеристики</a>
                    </button>
                </div>
                    </table>
                </div>
            </div>

        <section class="generation tabcontent" id="generations">
            <div class="container">
                <div class="generation__items">
                    <div class="generation__item" th:each="cars : ${car.generations}">
                        <a th:href="@{'/generation/' + ${cars.id}}">
                            <img th:src="@{${cars.getLogoImagePath()}}" alt="auto" class="generation__item-img">
                            <div class="generation__item-title" th:text="${cars.brand}">Audi a6</div>
                            <div class="generation__item-description">1997-2000</div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section id="costs" class="costs tabcontent">
            <div class="costs__items" th:each="cars : ${car.modificationAuto}">
                <h1 class="costs__title" th:text="${cars.modification}">Комплектация name</h1>
                    <div class="costs__item">
                        <div class="costs__description">
                            <i class="fas fa-gas-pump costs__description-icon"></i>
                            <div class="costs__description-text">Расход бензина в городском цикле</div>
                        </div>
                        <div class="costs__score">
                            <div class="costs__score-title" id="fuelUrbanCycle" th:text="${cars.fuelUrbanCycle}">12.4</div>
                            <div class="costs__score-text">литра</div>
                        </div>
                    </div>
                    <div class="costs__item">
                        <div class="costs__description">
                            <i class="fas fa-gas-pump costs__description-icon"></i>
                            <div class="costs__description-text">Расход бензина бензина на трассе</div>
                        </div>
                        <div class="costs__score">
                            <div class="costs__score-title" th:text="${cars.fuelHigwayCycle}" id="fuelHigwayCycle">12.4</div>
                            <div class="costs__score-text">литра</div>
                        </div>
                    </div>
                    <div class="costs__item">
                        <div class="costs__description">
                            <i class="fas fa-gas-pump costs__description-icon"></i>
                            <div class="costs__description-text">Расход бензина в смешанном цикле</div>
                        </div>
                        <div class="costs__score">
                            <div class="costs__score-title" th:text="${cars.fuelMixedCycle}" id="fuelMixedCycle">12.4</div>
                            <div class="costs__score-text">литра</div>
                        </div>
                    </div>
                <div>
                    <canvas class="costs__graph" id="myChart"></canvas>
                </div>
                <div class="costs__item">
                    <div class="costs__description">
                        <i class="fas fa-gas-pump costs__description-icon"></i>
                        <div class="costs__description-text">Расход бензина на 100км в городском цикле</div>
                    </div>
                    <div class="costs__score">
                        <div class="costs__score-title" id="fuelUrbanCyclePrice" th:text="${cars.fuelUrbanCyclePrice}">12.4</div>
                        <div class="costs__score-text">рублей</div>
                    </div>
                </div>
                <div class="costs__item">
                    <div class="costs__description">
                        <i class="fas fa-gas-pump costs__description-icon"></i>
                        <div class="costs__description-text">Расход на 100км бензина на трассе</div>
                    </div>
                    <div class="costs__score">
                        <div class="costs__score-title" th:text="${cars.fuelHigwayCyclePrice}" id="fuelHigwayCyclePrice">12.4</div>
                        <div class="costs__score-text">рублей</div>
                    </div>
                </div>
                <div class="costs__item">
                    <div class="costs__description">
                        <i class="fas fa-gas-pump costs__description-icon"></i>
                        <div class="costs__description-text">Расход на 100км бензина в смешанном цикле</div>
                    </div>
                    <div class="costs__score">
                        <div class="costs__score-title" th:text="${cars.fuelMixedCyclePrice}" id="fuelMixedCyclePrice">12.4</div>
                        <div class="costs__score-text">рублей</div>
                    </div>
                </div>
                <div>
                    <canvas class="costs__graph" id="myChart2"></canvas>
                </div>
                <div class="costs__item">
                    <div class="costs__description">
                            <i class="fas fa-money-check-alt costs__description-icon"></i>
                            <div class="costs__description-text">Налог на мощность(лс)</div>
                        </div>
                        <div class="costs__score">
                            <div class="costs__score-title" th:text="${cars.horsePowerPrice}" id="horsePowerPrice">12.4</div>
                            <div class="costs__score-text">рублей</div>
                        </div>
                    </div>
                    <div class="costs__item">
                        <div class="costs__description">
                            <i class="fas fa-gas-pump costs__description-icon"></i>
                            <div class="costs__description-text">Расход бензина на год</div>
                        </div>
                        <div class="costs__score">
                            <div class="costs__score-title" th:text="${cars.fuelMixedCyclePriceYear}" id="fuelMixedCyclePriceYear">12.4</div>
                            <div class="costs__score-text">рублей</div>
                        </div>
                    </div>
                    <div class="costs__item">
                        <div class="costs__description">
                            <i class="fas fa-tools costs__description-icon"></i>
                            <div class="costs__description-text">Расход на обслуживание автомобиля в год</div>
                        </div>
                        <div class="costs__score">
                            <div class="costs__score-title" th:text="${cars.costsPerYear}" id="costsPerYear">12.4</div>
                            <div class="costs__score-text">рублей</div>
                        </div>
                    </div>
                <div class="costs__item">
                    <div class="costs__description">
                        <i class="fas fa-money-check-alt costs__description-icon"></i>
                        <div class="costs__description-text">Общая сумма расходов за год</div>
                    </div>
                    <div class="costs__score">
                        <div class="costs__score-title" th:text="${cars.totalSumOfYear}">12.4</div>
                        <div class="costs__score-text">рублей</div>
                    </div>
                </div>
                <div>
                    <canvas class="costs__graph" id="myChart3"></canvas>
                </div>
                </div>
        </section>
    </div>

       <!-- <div class="product__similar">
            <h1 class="product__similar-title">
                Похожие товары:
            </h1>
            <div class="product__item-inner">
                <div class="swiper-container swiper2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"  th:each="acousticL : ${acousticSystemList}">
                            <div class="product__item">
                                <ul class="product__similar-list">
                                    <li>
                                        <img th:src="@{${acousticL.getLogoImagePath()}}">
                                        <p th:text="${acousticL.price}">2 679  ₽</p>
                                        <span th:text="${acousticL.model}"> Sony / Умные часы Sony MN2 SmartWatch</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>

            </div>
        </div>
    </div>
</div>-->

        </div>


    <div th:replace="fragment.html :: footer"></div>
<script src="/js/all.min.js"></script>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/chart.min.js"></script>
<script th:inline="javascript" src="/js/script.js"></script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        scrollbar: {
            el: '.swiper-scrollbar',
        },
    })
</script>
<script>
    function selectContent(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("page__tab-tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    document.getElementById("defaultOpen").click();
</script>
</body>
</html>