<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/StyleCustom.css"/>
</head>
<body>
<div th:replace="fragment.html :: header"></div>

<div class="search__block">
    <form th:action="@{/cars}">
        <input class="search__block-input" type="text"  name="keyword" id="keyword" size="50" th:value="${keyword}" required />

        <input class="search__block-search" type="submit" th:value="#{language.search}"  id="btn-search" />

        <input class="search__block-clear"  type="button" th:value="#{language.clear}" id="btnClear" onclick="clearSearch()" />
    </form>
</div>

<div class="container">
    <div class="main-card">
        <div class="main-card__item" th:each="car: ${carList}" enctype="multipart/form-data">
            <a th:href="@{'/showCar/' + ${car.id}}">
                <div class="main-card__img">
                    <img  th:src="@{${car.getLogoImagePath()}}" alt="Car-Image"/>
                </div>
                <div class="main-card__info">
                    <div class="main-card__info-title">
                        <div><h1 th:text="${car.brand}">Audi</h1></div>
                        <div><h1 th:text="${car.model}">A6</h1></div>
                    </div>
                    <h4 th:text="${car.price}">От 2 790 000  ₽</h4>
                    <h4 th:text="${car.bodyType}">Универсал</h4>
                    <h4 th:text="${car.country}">Германия</h4>
                </div>
            </a>
        </div>
    </div>
</div>
<div th:replace="fragment.html :: footer"></div>
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/cars}]]";
    }
</script>
</body>
</html>