<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/StyleCustom.css"/>
</head>
<body>

<header class="header" th:fragment="header">
    <div class="container">
        <nav class="header-nav">
            <div class="header-nav__logo"><a class="logo" th:href="@{/}">CarWiki <br><span>все об автомобилях</span></a></div>
            <div class="header-nav__item"><a class="header-nav__link" th:href="@{/}">Главная</a></div>
            <div class="header-nav__item"><a class="header-nav__link" th:href="@{/motoCategories}">Мотоциклы</a></div>
            <div class="header-nav__item"><a class="header-nav__link" th:href="@{/carCategories}">Легковые</a></div>
            <div class="header-nav__item"><a class="header-nav__link" th:href="@{/truckCategories}">Грузовики</a></div>
            <div class="header-nav__item"><a class="header-nav__link" th:href="@{/allSegments}">Сегменты</a></div>
            <div class="header-nav__auth"><a  href="#" th:href="@{/login}" th:if="${#authorization.expression('!isAuthenticated()')}" id="auth">Войти

                <div><img src="/images/login.png" alt=""></div></a></div>
        </nav>
    </div>
</header>

<footer th:fragment="footer">
    <div class="container">
        <nav class="footer-nav">
            <div class="footer-nav__logo"><a href="" class="logo">CarWiki <br><span>все об автомобилях</span></a></div>
            <div class="footer-nav__item"><a class="header-nav__link" href="">Главная</a></div>
            <div class="footer-nav__item"><a class="header-nav__link" href="">Мотоциклы</a></div>
            <div class="footer-nav__item"><a class="header-nav__link" href="">Легковые</a></div>
            <div class="footer-nav__item"><a class="header-nav__link" href="">Грузовики</a></div>
            <div class="footer-nav__item"><a class="header-nav__link" href="">Сегменты</a></div>
        </nav>
    </div>
</footer>
</body>
</html>