<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/StyleCustom.css"/>
</head>
<body>
<div class="header" th:fragment="header">

    <div class="categories-link">
        <a th:href="@{/}" th:text="#{language.main}" id="main">Main Page</a>
        <a th:href="@{/categories}" th:text="#{language.categories}">Categories</a>
    </div>

    <div class="auth">

    </div>
</div>

<header class="header">
    <div class="container">
        <nav class="header-nav">
            <div class="header-nav__logo"><a class="logo" href="">CarWiki <br><span>все об автомобилях</span></a></div>
            <div class="header-nav__item"><a class="header-nav__link" href="">Главная</a></div>
            <div class="header-nav__item"><a class="header-nav__link" href="">Мотоциклы</a></div>
            <div class="header-nav__item"><a class="header-nav__link" href="">Легковые</a></div>
            <div class="header-nav__item"><a class="header-nav__link" href="">Грузовики</a></div>
            <div class="header-nav__item"><a class="header-nav__link" href="">Сегменты</a></div>
            <div class="header-nav__auth"><a id="auth">
                <div>
                <a  href="#" th:href="@{/login}" th:if="${#authorization.expression('!isAuthenticated()')}">Войти</a>
                <ul>
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}" th:text="#{language.logout}">Выход</a></li>
                </ul>
            </div> <div><img src="img/login.png" alt=""></div></a></div>
        </nav>
    </div>
</header>

<div class="footer" th:fragment="footer">
<h1 th:text="#{language.description}"></h1>
</div>
</body>
</html>