<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/Style.css"/>
</head>

<body>
<div class="header">

    <div class="lang">
    <a th:href="@{/(lang='en_US')}"><img src="/img/us.png"  alt="Us-Flag"></a>
    <a th:href="@{/(lang='ru_RU')}"><img src="/img/ru.png"  alt="Ru-Flag"></a>
        <a th:href="@{/(lang='de_De')}"><img src="/img/de.png"  alt="De-Flag"></a>
    </div>

    <div class="categories-link">
        <a th:href="@{/categories}" th:text="#{language.categories}">Categories</a>
    </div>

    <div class="auth">
        <a  href="#" th:href="@{/login}" th:text="#{language.auth}" th:if="${#authorization.expression('!isAuthenticated()')}">Registration and
            Login Module</a>
        <ul>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}" th:text="#{language.logout}">Logout</a></li>
        </ul>
    </div>
</div>



<div class="nav">
<h1 th:text="#{welcome.message}"></h1>
<div  class="create-new">
    <p th:text="#{language.admin_rights}" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">Доступны права администратора:</p>
    <a href="new"  th:text="#{language.add}" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">Create new Brand Product</a>
    <br/>
    <a th:href="@{/showUserList}" th:text="#{language.show_users}" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">Show Users</a>
</div>
</div>



<div class="search">
<form th:action="@{/}">
     <input type="text" th:placeholder="#{language.placeholder}" name="keyword" id="keyword" size="50" th:value="${keyword}" required />

    <input type="submit" th:value="#{language.search}"  id="btn-search" />

    <input type="button" th:value="#{language.clear}" id="btnClear" onclick="clearSearch()" />
</form>
</div>

<div class="cards" th:each="brands: ${brandList}" enctype="multipart/form-data">
    <div class="info">
        <div>
            <img  th:src="@{${brands.getLogoImagePath()}}" alt="Car-Image" width="450px" height="250px"/>
        </div>
        <div>
            <ul>
                <li><p>Brand: <span th:text="${brands.brand}">Brand</span></p></li>
                <li><p>Model: <span th:text="${brands.model}">Leon</span></p></li>
                <li><p>Body Type: <span th:text="${brands.bodyType}">Body Type</span></p></li>
                <li><p>Transmission: <span th:text="${brands.transmission}">Transmission</span></p></li>
                <li><p>Year: <span th:text="${brands.year}">Year</span></p></li>
                <li><p>Price: <span th:text="${brands.price}">39000</span></p></li>

                <div sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                   <!--- <a th:href="@{'/edit/' + ${brands.id}}">Edit</a> --->
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a sec:authorize="hasAuthority('ROLE_ADMIN')" th:href="@{'/delete/' + ${brands.id}}">Delete</a>
                </div>

            </ul>
        </div>
    </div>
    <br/>
</div>

<div th:replace="fragment :: footer"></div>
</body>
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/}]]";
    }
</script>
</html>