<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/StyleCustom.css"/>
</head>

<body>


<div th:replace="fragment.html :: header"></div>

<div class="nav">
<div  class="create-new">
    <p th:text="#{language.admin_rights}" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">Доступны права администратора:</p>
    <a href="new"  th:text="#{language.add}" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">Создать новый автомобиль</a>
    <br/>
    <a th:href="@{/showUserList}"  sec:authorize="hasAnyAuthority('ROLE_ADMIN')">Show Users</a>
</div>
</div>
<!--
<a th:href="@{/}" th:text="#{language.main}" id="main">Main Page</a>
<a th:href="@{/categories}" th:text="#{language.categories}">Categories</a>
-->
<div class="content">
    <div class="content-card">
        <a href="#">
            <img src="/images/motorcycle2.png" alt="motorcycle">
            <div class="content-card__item">
                <h1>Мотоциклы</h1>
            </div>
        </a>
    </div>

    <div class="content-card">
        <img src="/images/hyundai.png" alt="">
        <div class="content-card__item">
            <h1>Автомобили</h1>
        </div>
    </div>
    <div class="content-card">
        <img src="/images/truck.png" alt="">
        <div class="content-card__item">
            <h1>Грузовики</h1>
        </div>
    </div>
</div>

<!--
<div class="cards" th:each="brands: ${brandList}" enctype="multipart/form-data">
    <div class="info">
        <div>
            <img  th:src="@{${brands.getLogoImagePath()}}" alt="Car-Image" width="450px" height="250px"/>
        </div>
        <div>
            <ul>
                <li><p>Brand: <span th:text="${brands.brand}">Brand</span></p></li>
                <li><p>Model: <span th:text="${brands.model}">Leon</span></p></li>
                <li><p>Body Type: <span th:text="${brands.bodyType}">Body Type</span></p></li>
                <li><p>Transmission: <span th:text="${brands.transmission}">Transmission</span></p></li>
                <li><p>Year: <span th:text="${brands.year}">Year</span></p></li>
                <li><p>Price: <span th:text="${brands.price}">39000</span></p></li>
                <li><a th:href="@{'/show/' + ${brands.id}}"><button class="btn">Show</button></a></li>
                <div sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                    <a th:href="@{'/edit/' + ${brands.id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a sec:authorize="hasAuthority('ROLE_ADMIN')" th:href="@{'/delete/' + ${brands.id}}">Delete</a>
                </div>

            </ul>
        </div>
    </div>
    <br/>
</div> -->

<div th:replace="fragment.html :: footer"></div>
</body>

</html>