<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/fontawesome.min.css">
    <link rel="stylesheet" href="/StyleCustom.css"/>
</head>

<body>


<div th:replace="fragment.html :: header"></div>

    <div class="create-new">
        <p  sec:authorize="hasAnyAuthority('ROLE_ADMIN')">Вам доступны права администратора:</p>
        <a  th:href="@{/newCarCategory}" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">Создать новый бренд автомобиля </a>
        <a  th:href="@{/newCar}"   sec:authorize="hasAnyAuthority('ROLE_ADMIN')">Создать новый автомобиль</a>
        <a th:href="@{/showUserList}"  sec:authorize="hasAnyAuthority('ROLE_ADMIN')">Показать пользоваталей</a>
    </div>

<!--
<a th:href="@{/}" th:text="#{language.main}" id="main">Main Page</a>
<a th:href="@{/categories}" th:text="#{language.categories}">Categories</a>
-->
<section class="content">
    <div class="content__items">
        <div class="content__item">
            <div class="content__card">
                <div class="content__card-item">
                    <h2 class="content__card-title">Мотоциклы</h2>
                </div>
                <div class="content__card-item">
                    <a href="#" class="content__card-link">
                        <img src="/images/motorcycle3.png" class="content__card-img" id="moto" alt="moto">
                    </a>
                </div>
                <div class="content__card-item">
                    <i class="fas fa-long-arrow-alt-right content__card-icon"></i>
                </div>
            </div>
        </div>

        <div class="content__item">
            <div class="content__card">
                <div class="content__card-item">
                    <h2 class="content__card-title">Автомобили</h2>
                </div>
                <div class="content__card-item">
                    <a href="#" class="content__card-link">
                        <img src="/images/bmw.png" class="content__card-img" id="car" alt="bmw">
                    </a>
                </div>
                <div class="content__card-item">
                    <i class="fas fa-long-arrow-alt-right content__card-icon"></i>
                </div>
            </div>
        </div>

        <div class="content__item">
            <div class="content__card">
                <div class="content__card-item">
                    <h2 class="content__card-title">Грузовики</h2>
                </div>
                <div class="content__card-item">
                    <a href="#" class="content__card-link">
                        <img src="/images/truck.png" class="content__card-img" id="truck" alt="truck">
                    </a>
                </div>
                <div class="content__card-item">
                    <i class="fas fa-long-arrow-alt-right content__card-icon"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="segments">
    <div class="container">
        <h2 class="main-card__title">Сегменты автомобилей</h2>
        <div class="main-card">
            <div class="category-card__item" th:each="segment : ${segmentList}" enctype="multipart/form-data">
                <a th:href="@{'/segment/' + ${segment.id}}">
                    <div class="category-card__img">
                        <img th:src="@{${segment.getLogoImagePath()}}">
                    </div>
                    <div class="main-card__info">
                        <h1 th:text="${segment.name}"></h1>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!--
<div class="cards" th:each="brands: ${brandList}" enctype="multipart/form-data">
    <div class="info">
        <div>
            <img  th:src="@{${brands.getLogoImagePath()}}" alt="Car-Image" width="450px" height="250px"/>
        </div>
        <div>
            <ul>
                <li><p>Brand: <span th:text="${brands.brand}">Brand</span></p></li>
                <li><p>Model: <span th:text="${brands.model}">Leon</span></p></li>
                <li><p>Body Type: <span th:text="${brands.bodyType}">Body Type</span></p></li>
                <li><p>Transmission: <span th:text="${brands.transmission}">Transmission</span></p></li>
                <li><p>Year: <span th:text="${brands.year}">Year</span></p></li>
                <li><p>Price: <span th:text="${brands.price}">39000</span></p></li>
                <li><a th:href="@{'/show/' + ${brands.id}}"><button class="btn">Show</button></a></li>
                <div sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                    <a th:href="@{'/edit/' + ${brands.id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a sec:authorize="hasAuthority('ROLE_ADMIN')" th:href="@{'/delete/' + ${brands.id}}">Delete</a>
                </div>

            </ul>
        </div>
    </div>
    <br/>
</div> -->

<div th:replace="fragment.html :: footer"></div>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/all.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>