<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/StyleCustom.css"/>
</head>
<body>
<div th:replace="fragment.html :: header"></div>
<div class="container">
    <div class="main-card">
        <div class="main-card__item" th:each="moto: ${motoList}" enctype="multipart/form-data">
            <a th:href="@{'/showMoto/' + ${moto.id}}">
                <div class="main-card__img">
                    <img  th:src="@{${moto.getLogoImagePath()}}" alt="Car-Image"/>
                </div>
                <div class="main-card__info">
                    <h1 th:text="${moto.brand}"><span th:text="${moto.model}"></span></h1>
                    <h4 th:text="${moto.price}">От 2 790 000  ₽</h4>
                </div>
            </a>
        </div>
    </div>
</div>
<div th:replace="fragment.html :: footer"></div>
</body>
</html>