<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/StyleCustom.css"/>
</head>
<body>
<div th:replace="fragment.html :: header"></div>
<div class="container">
    <div class="input__block">
        <form action="#" th:action="@{/saveCar}" th:object="${car}" enctype="multipart/form-data" method="post">
            <div class="input__form">
                <div class="input__form-text"><p>Марка автомобиля:</p>
                </div>
                <div class="input__form-select">
            <select th:field="*{carCategory}">
                <option th:each="carCategory : ${carCategories}" th:value="${carCategory.id}" th:text="${carCategory.name}">
            </select>
                </div>
            </div>
            <div class="input__form">
                <div class="input__form-text"><p>Класс автомобиля:</p>
            </div>
                <div class="input__form-select">
            <select th:field="*{segment}">
                <option th:each="segment : ${segments}" th:value="${segment.id}" th:text="${segment.name}">
            </select>
                </div>
            </div>
            <div class="input__form">
                <div class="input__form-text"><p>Марка:</p></div>
                <div class="input__form-value"><input type="text" th:field="*{brand}" ></div>
            </div>
            <div class="input__form">
                <div class="input__form-text"><p>Модель:</p></div>
                <div class="input__form-value"><input type="text" th:field="*{model}" ></div>
            </div>
            <div class="input__form">
                <div class="input__form-text"><p>Кузов:</p></div>
                <div class="input__form-value"><input type="text" th:field="*{bodyType}" ></div>
            </div>
            <div class="input__form">
                <div class="input__form-text"><p>Год:</p></div>
                <div class="input__form-value"><input type="text" th:field="*{year}" ></div>
            </div>
            <div class="input__form">
                <div class="input__form-text"><p>Трансмиссия:</p></div>
                <div class="input__form-value"><input type="text" th:field="*{transmission}" ></div>
            </div>
            <div class="input__form">
                <div class="input__form-text"><p>Цена:</p></div>
                <div class="input__form-value"><input type="text" th:field="*{price}" ></div>
            </div>
            <div class="input__form">
                <div class="input__form-text"><p>Страна:</p></div>
                <div class="input__form-value"><input type="text" th:field="*{country}" ></div>
            </div>
            <div class="input__form">
                <div class="input__form-text"><p>Описание:</p></div>
                <div class="input__form-value"><input type="text" th:field="*{description}" ></div>
            </div>
            <div class="input__form">
                <div class="input__form-text label__fix" id="label__fix"><p>Фотография1:</p></div>
                <div class="input__form-upload">
                    <label class="input__form-file">
                        Загрузить фотографию
                        <input type="file" name="fileImage" accept="image/png,image/jpeg"/>
                    </label>
                </div>
            </div>
            <div class="input__form">
                <div class="input__form-text label__fix"><p>Фотография2:</p></div>
                <div class="input__form-upload">
                    <label class="input__form-file">
                        Загрузить фотографию
                        <input type="file" name="fileImage" accept="image/png,image/jpeg"/>
                    </label>
                </div>
            </div>
            <div class="input__form">
                <div class="input__form-text label__fix"><p>Фотография3:</p></div>
                <div class="input__form-upload">
                    <label class="input__form-file">
                        Загрузить фотографию
                        <input type="file" name="fileImage" accept="image/png,image/jpeg"/>
                    </label>
                </div>
            </div>
            <div class="input__form">
                <button class="input__form-btn" type="submit">Сохранить</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>