<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/StyleCustom.css"/>
</head>
<body>
<div th:replace="fragment.html :: header"></div>
<div class="create-new">
    <p  sec:authorize="hasAnyAuthority('ROLE_ADMIN')">Вам доступны права администратора:</p>
    <a  th:href="@{/newSegment}"  sec:authorize="hasAnyAuthority('ROLE_ADMIN')">Создать новый сегмент </a>
</div>
<div class="container">
    <div class="main-card">
        <div class="category-card__item" th:each="segment : ${segmentList}" enctype="multipart/form-data">
            <a th:href="@{'/segment/' + ${segment.id}}">
                <div class="category-card__img">
                    <img th:src="@{${segment.getLogoImagePath()}}">
                </div>
                <div class="main-card__info">
                    <h1 th:text="${segment.name}"></h1>
                </div>
            </a>
        </div>
    </div>
</div>
<div th:replace="fragment.html :: footer"></div>
</body>
</html>