<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/StyleCustom.css"/>
</head>
<body>
<div th:replace="fragment.html :: header"></div>
<div class="container">
    <div class="main-card">
        <div class="main-card__item" th:each="segment: ${segment.carList}" enctype="multipart/form-data">
            <a href="#">
                <div class="main-card__img">
                    <img  th:src="@{${segment.getLogoImagePath()}}" alt="Car-Image"/>
                </div>
                <div class="main-card__info">
                    <div class="main-card__info-title">
                        <div><h1 th:text="${segment.brand}"></h1></div>
                        <div><h1 th:text="${segment.model}"></h1></div>
                    </div>
                    <h4 th:text="${segment.price}">₽</h4>
                    <h4 th:text="${segment.bodyType}"></h4>
                    <h4 th:text="${segment.country}"></h4>
                </div>
            </a>
        </div>
    </div>
</div>
<div th:replace="fragment.html :: footer"></div>
</body>
</html>