<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/StyleCustom.css"/>
</head>
<body>
<div th:replace="fragment.html :: header"></div>
<div class="container">
    <div class="main-card">
        <div class="main-card__item" th:each="truck: ${truckList}" enctype="multipart/form-data">
            <a th:href="@{'/showTruck/' + ${truck.id}}">
                <div class="main-card__img">
                    <img  th:src="@{${truck.getLogoImagePath()}}" alt="Car-Image"/>
                </div>
                <div class="main-card__info">
                    <div class="main-card__info-title">
                        <div th:text="${truck.brand}"><h1>Audi</h1></div>
                        <div th:text="${truck.model}"><h1>A6</h1></div>
                    </div>
                    <h4 th:text="${truck.price}">От 2 790 000  ₽</h4>
                    <h4 th:text="${truck.bodyType}">Универсал</h4>
                    <h4 th:text="${truck.country}">Германия</h4>
                </div>
            </a>
        </div>
    </div>
</div>
<div th:replace="fragment.html :: footer"></div>
</body>
</html>